* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --accent-color: #13c1fe;
  --background: #faf9f9;
  --primary-color: #fe5013;
  --primary-dark: #fc4201;
  --secondary-color: #fe8a61;
  --text-dark: #1a1a1a;
  --text-light: #4c4d4f;
}

html {
  font-size: 62.5%; /* 10px = 62.5% */
  color: var(--text-dark);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

button {
  cursor: pointer;
}

.container {
  max-width: 120rem;
  margin: auto;
  padding-inline: 2rem;
}

footer {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-inline: 1rem;
  padding-block: 1rem;
  margin-top: 1rem;
}

header {
  padding-block: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.055);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-items {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.flash-sale {
  background-color: var(--secondary-color);
  color: var(--text-dark);
  text-align: center;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
}

nav {
  display: none;
}

nav a {
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--text-dark);
  padding: 0.25rem 0.5rem;
}

nav a:hover {
  color: var(--primary-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.logo h1 {
  font-size: 2.25rem;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: transparent;
  background-clip: text;
  margin-top: 0.25rem;
}

.logo img {
  height: 3.2rem;
}

.cart {
  padding: 0.25rem 1rem 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--background);
  height: auto;
}

.cart span {
  background-color: var(--primary-color);
  color: white;
  padding: 0.1rem 0.5rem;
  font-size: 1.25rem;
  border-radius: 1.5rem;
}

section {
  padding-block: 4rem;
}

/* Hero Section Styles */
#hero {
  background-color: var(--background);
}
.hero-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.hero-box img {
  max-width: 100%;
  width: auto;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.hero-content .badge {
  background-color: rgb(19, 193, 254, 0.1);
  color: var(--accent-color);
  border-radius: 1.6rem;
  font-size: 1.25rem;
  padding-inline: 1.6rem;
  padding-block: 0.5rem;
}

.hero-content h1 {
  font-size: 2.5rem;
  line-height: 5rem;
  margin-top: 1rem;
}

.hero-content p {
  font-size: 1.75rem;
  color: var(--text-light);
  padding-block: 1.6rem;
}

.hero-content .shop {
  background-color: var(--primary-color);
  border-radius: 1.6rem;
  border: none;
  color: white;
  padding: 1.25rem 2.25rem;
  transition: all 0.3s ease;
}

.hero-content .shop:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.hero-content .explore {
  background-color: var(--background);
  border: 2px solid var(--primary-color);
  border-radius: 1.6rem;
  padding: 1.25rem 2.25rem;
  margin-inline: 1.6rem;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.hero-content .explore:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Why Choose Us Section Styles */
#benefits {
  background-color: rgb(238, 238, 238);
}

#benefits h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.benefits-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.benefits-box .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  font-size: 1.6rem;
  background-color: rgb(231, 223, 223);
  border-radius: 1.6rem;
}

.benefits-box .card i {
  font-size: 3.5rem;
}

.benefits-box .card p {
  color: var(--text-light);
  font-size: 1.5rem;
  text-align: center;
}

/* Call-to-action section Styles */
#call-to-action{
  background-color: rgb(238, 238, 238);
}
.cta {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-dark)
  );
  padding: 3rem; 
  border-radius: 2.5rem;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 1.5rem; 
}

.cta p {
  text-align: center;
  font-size: 1.5rem;
}

.cta button {
  background-color: white;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 1.5rem;
}

.cta button:hover {
  color: var(--primary-color);
}

/* Featured Products Section Styles */
#featured h2 {
  text-align: center;
  margin-bottom: 3.5rem;
  font-size: 4rem;
}

.featured-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.featured-box .card {
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
}

.featured-box .card img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.featured-box .card .content {
  background-color: white;
  padding: 1rem 2rem 1.5rem;
  font-size: 2rem;
}

.featured-box .card .content .price{
  margin-block: 0.5rem;
  font-size: 2.8rem;
  color: var(--primary-color);
  font-weight: bold;
}

.featured-box .card .content button {
  background-color: rgb(216, 214, 214);
  padding: 1rem 1.5rem;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 1.5rem;
  margin-top: 1rem;
  font-size: 1.35rem;
  font-weight: 600;
  transition: all 0.2s ease;
  color: var(--text-dark);
}

.featured-box .card .content button:hover {
  color: var(--primary-color);
}

/* Best Seller Section Styles */
#best-seller {
  background-color: rgb(238, 238, 238);
}

.best-seller-box {
  background-color: rgba(252, 66, 1, 0.05);
  padding: 3rem;
  border-radius: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  align-items: center;
}

.best-seller-box img {
  max-width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
}

.best-seller-box .content p {
  padding-block: 1rem;
  color: var(--text-light);
  font-size: 1.25rem;
}

.best-seller-box .content h3 {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 2rem;
}

.best-seller-box .content button {
  background-color: var(--primary-color);
  border-radius: 1.75rem;
  border: none;
  color: white;
  padding: 1rem 3rem;
  transition: all 0.3s ease;
  margin-top: 1.5rem;
}

.best-seller-box .content button:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Contact Section Styles */
.contact-box{
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-top: 3rem;
}

.contact-box .info h2 {
  font-size: 2.5rem;
}
.contact-box .info p {
  color: var(--text-light);
  font-size: 1.25rem;
  margin-block: 1.5rem;
}

.contact-box .info a {
  font-weight: normal;
  margin: 0.5rem;
  font-size: 1.25rem;
  text-decoration: none;
  display: block;
  color: var(--text-dark);
}

.contact-box .info a:hover {
  color: var(--primary-color);
}

.contact-box form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 50rem;
}

.contact-box form input, 
.contact-box form textarea {
  width: 100%;
  background-color: white;
  border: 1px solid rgba(252, 66, 1, 0.3);
  border-radius: 1.25rem;
  padding: 1rem 1.25rem;
}

.contact-box form textarea::placeholder {
  font-family: "Urbanist", sans-serif;
}

.contact-box form button {
  background-color: var(--primary-color);
  border-radius: 1.25rem;
  border: none;
  color: white;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
  margin-top: 1rem;
  width: fit-content;
}

.contact-box form button:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.contact-box form input:focus, 
.contact-box form textarea:focus {
  outline: 2px solid var(--primary-color);
}

/* Dialog from Call To Action Section Styles */
#signupForm {
  width: 100%;
  background-color: transparent;
  border: none;
}

.signup-form {
  align-items: center;
  background-color: var(--background);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: center;
  left: 0;
  padding: 2rem 3rem;
  position: fixed;
  top: 45%;
  width: 100%;
}

.signup-form form {
  margin-top: 1.5rem;
}

.signup-form input {
  width: 100%;
  background-color: white;
  border: 1px solid rgb(252, 66, 1, 0.2);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.signup-form form button {
  width: 100%;
  background-color: var(--primary-color);
  border: 1px solid rgb(252, 66, 1, 0.2);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  margin-top: 1rem;
}

.signup-form form button:hover {
  background-color: var(--primary-dark);
  color: white;
}

.signup-form .close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--background);
}


/* Responsive Design Styles */
@media (min-width: 512px) {
  .benefits-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .featured-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .best-seller-box {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .best-seller-box .content h2 {
    font-size: 2rem;
  }

  .signup-form {
    left: 25%;
    width: 50%;
  }
}

@media (min-width: 768px) {
  nav {
    display: flex;
    gap: 0.5rem;
  }

  .hero-box {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4.5rem;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .benefits-box {
    grid-template-columns: repeat(4, 1fr);
  }

  .featured-box {
    grid-template-columns: repeat(3, 1fr);
  }

  .best-seller-box {
    padding-inline: 5rem;
    gap: 3rem;
  }

  .best-seller-box .content h2 {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  .best-seller-box .content p {
    font-size: 1.75rem;
  }

  .contact-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
}

@media (min-width: 1200px) {
  .hero-box {
    gap: 6rem;
  }

  .hero-content h1 {
    font-size: 5rem;
  }

  .featured-box {
    grid-template-columns: repeat(4, 1fr);
  }

  .signup-form {
    left: 35%;
    width: 30%;
  }
}
