* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --accent-color: #13c1fe;
  --background: #faf9f9;
  --primary-color: #fe5013;
  --primary-dark: #fc4201;
  --secondary-color: #fe8a61;
  --text-dark: #1a1a1a;
  --text-light: #4c4d4f;
}

html {
  font-size: 62.5%; /* 10px = 62.5% */
  color: var(--text-dark);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

button {
  cursor: pointer;
}

.container {
  max-width: 120rem;
  margin: auto;
  padding-inline: 2rem;
}

footer {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-inline: 1rem;
  padding-block: 1rem;
  margin-top: 1rem;
}

header {
  padding-block: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.055);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-items {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.flash-sale {
  background-color: var(--secondary-color);
  color: var(--text-dark);
  text-align: center;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
}

nav {
  display: none;
}

nav a {
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--text-dark);
  padding: 0.25rem 0.5rem;
}

nav a:hover {
  color: var(--primary-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.logo h1 {
  font-size: 2.25rem;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: transparent;
  background-clip: text;
  margin-top: 0.25rem;
}

.logo img {
  height: 3.2rem;
}

.cart {
  padding: 0.25rem 1rem 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--background);
  height: auto;
}

.cart span {
  background-color: var(--primary-color);
  color: white;
  padding: 0.1rem 0.5rem;
  font-size: 1.25rem;
  border-radius: 1.5rem;
}

section {
  padding-block: 4rem;
}

/* Hero Section Styles */
#hero {
  background-color: var(--background);
}
.hero-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}

.hero-box img {
  max-width: 100%;
  width: auto;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.hero-content .badge {
  background-color: rgb(19, 193, 254, 0.1);
  color: var(--accent-color);
  border-radius: 1.6rem;
  font-size: 1.25rem;
  padding-inline: 1.6rem;
  padding-block: 0.5rem;
}

.hero-content h1 {
  font-size: 2.5rem;
  line-height: 5rem;
  margin-top: 1rem;
}

.hero-content p {
  font-size: 1.75rem;
  color: var(--text-light);
  padding-block: 1.6rem;
}

.hero-content .shop {
  background-color: var(--primary-color);
  border-radius: 1.6rem;
  border: none;
  color: white;
  padding: 1.25rem 2.25rem;
  transition: all 0.3s ease;
}

.hero-content .shop:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.hero-content .explore {
  background-color: var(--background);
  border: 2px solid var(--primary-color);
  border-radius: 1.6rem;
  padding: 1.25rem 2.25rem;
  margin-inline: 1.6rem;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.hero-content .explore:hover {
  background-color: var(--primary-color);
  color: white;
}

/* Why Choose Us Section Styles */
#benefits {
  background-color: rgb(238, 238, 238);
}

#benefits h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.benefits-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.benefits-box .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  font-size: 1.6rem;
  background-color: rgb(231, 223, 223);
  border-radius: 1.6rem;
}

.benefits-box .card i {
  font-size: 3.5rem;
}

.benefits-box .card p {
  color: var(--text-light);
  font-size: 1.5rem;
  text-align: center;
}

@media (min-width: 512px) {
  .benefits-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  nav {
    display: flex;
    gap: 0.5rem;
  }

  .hero-box {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4.5rem;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .benefits-box {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .hero-box {
    gap: 6rem;
  }
  .hero-content h1 {
    font-size: 5rem;
  }
}
